In [4]:
from sklearn import tree
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [5]:
# Read Dataset
dataset = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv")
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
dataset["species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [11]:
label_encoder = preprocessing.LabelEncoder()
dataset["species"]=label_encoder.fit_transform(dataset["species"])

In [12]:
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [13]:
dataset["species"].unique()

array([0, 1, 2])

In [15]:
# Separating the Input and Output Columns
X = dataset[["sepal_length", "sepal_width", "petal_length", "petal_width"]]
y = dataset["species"]
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1234, train_size=0.7)

In [22]:
clf = tree.DecisionTreeClassifier(random_state=1234).fit(X_train, y_train)
print(f"the accuracy on test set is {clf.score(X_test, y_test):.2f}")

the accuracy on test set is 0.98

In [18]:
# Dsiplaying the Rules formed by the Tree
from sklearn.tree import export_text
print(export_text(clf, feature_names=list(X.columns), spacing=3, decimals=1))

|--- petal_length <= 2.6
|   |--- class: 0
|--- petal_length >  2.6
|   |--- petal_width <= 1.7
|   |   |--- petal_length <= 5.0
|   |   |   |--- class: 1
|   |   |--- petal_length >  5.0
|   |   |   |--- sepal_length <= 6.0
|   |   |   |   |--- petal_width <= 1.6
|   |   |   |   |   |--- class: 2
|   |   |   |   |--- petal_width >  1.6
|   |   |   |   |   |--- class: 1
|   |   |   |--- sepal_length >  6.0
|   |   |   |   |--- class: 2
|   |--- petal_width >  1.7
|   |   |--- petal_length <= 4.9
|   |   |   |--- sepal_width <= 3.1
|   |   |   |   |--- class: 2
|   |   |   |--- sepal_width >  3.1
|   |   |   |   |--- class: 1
|   |   |--- petal_length >  4.9
|   |   |   |--- class: 2